<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>D_patientchange</title>
</head>

<body>
    <h1>请输入相关信息</h1>
    <br>
    <br>
    <br>
    <form method="post">{% csrf_token %} 账号
        <input name="id" type="text" value="{{ inpid }}" size="20" maxlength="20" readonly="readonly" />
        <br>密码
        <input name="password" type="password" value="{{ inpassword }}" size="20" maxlength="20" readonly="readonly" />
        <br>
        <!-- 密码位数限制20位 -->姓名
        <input name="name" type="text" value="{{ inname }}" size="20" maxlength="20" />
        <br>主治医生
        <select name="doctor">{% for i in doctorlist %}
            <option value="{{ i.did }}">{{ i.name }}-{{ i.did }}</option>{% endfor %}</select>
        <br>详情
        <textarea name="info" cols="40" rows="10">{{ ininfo }}</textarea>
        <br>
        <input type="submit" value="确认" />
        <!-- 点击登录按钮，把表单数据传给服务器 -->
        <br>
        </form>
        <a href="{{ goback }}">点此取消</a>
</body>

</html>