<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的患者列表</title>
    <style type="text/css">
        .contant{
            width:400px;
            top:auto;
        <!--border-color:#fff5ff;-->
            padding:15px 30px;
            /*display:inline-block; */
            text-align:center;
        <!--background-color:#FF99CC;-->
        }
    </style>
</head>

<body>
<center><font style="font-family: Helvetica"><div>
    {% for i in patientlist %}
    姓名：{{ i.name }}&nbsp;&nbsp;&nbsp;编号：{{ i.pid }}&nbsp;&nbsp;&nbsp;
    <a href="/dpatientlist/?pid={{ i.pid }}" target="_blank">详细信息</a>
    <br>
    <hr style="size: 1px">
    {% endfor %}
</div></font></center>




</body>
</html>